{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Les catégories</h3>

        <div class="card-body">

            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                </tr>
                {% for category in categorys %}
                    <tr>
                        <td>
                            <a href="{{ path('cap_blog_category_show', {'id': category.id}) }}">
                                {{ category.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

