<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
    <div class="col-auto">
        <a href="{{ path('cap_member_select_from_bottin') }}" class="btn btn-primary" role='button'>
            <i class="ti ti-plus"></i>
           Ajouter un nouveau membre
        </a>
    </div>
</div>

