<h4 class="text-success">Tags</h4>
<ul class="list-group list-group-horizontal">
    {% for tag in post.tags %}
        <li class="list-group-item">
            {{ tag }}
        </li>
    {% endfor %}
</ul>