{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ template.name }}</h3>

        <div class="card-body">

            <div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
                <div class="col-auto">
                    <a href="{{ path('cap_commercio_mandrill_edittemplate',{'name':template.name}) }}" class="btn btn-primary"
                       role='button'>
                        <i class="ti ti-pencil"></i>
                        Modifier
                    </a>
                </div>
            </div>

            {{ template.code|raw }}


            <form>
                <div class="mb-3">
                    <label for="commercant_commercialWordDescription" class="form-label">

                    </label>
                    <textarea id="commercant_commercialWordDescription"
                              name="commercant[commercialWordDescription]" rows="15"
                              class="form-control">
                     {{ template.code }}
                    </textarea>
                </div>
            </form>

        </div>
    </div>
{% endblock %}