<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
    <div class="col-auto">
        {% if bill.pdfPath != null %}
            <a href="https://cap.marche.be/{{ bill.pdfPath }}" class="btn btn-primary" role='button' target="_blank">
                <i class="fas fa-download"></i>
                Télécharger le pdf</a>
        {% else %}
            Pas de chemin pdf !
        {% endif %}
    </div>
    <div class="col-auto"><a href="{{ path('cap_bill_all') }}" class="btn btn-primary" role='button'><i
                    class="fas fa-list"></i>
            Retour à la Liste</a>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fas fa-trash"></i> Supprimer
        </button>
    </div>
</div>