{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Menu</h3>

        <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('cap_member_index') }}">
                        Les membres
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_commercant_index') }}">
                        Les commerçants
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_order_all') }}">
                        Les bons de commande
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('cap_contact') }}">Ils ont pris contact</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
