{% if  commercant.isMemberCap %}
    <div class="alert alert-info">
        Membre depuis {{ commercant.affiliationDate|format_date('full') }}
    </div>
    {% if not isMemberComplete %}
        <div class="alert alert-danger">
            Attention pour être membre complet, il faut que les champs nom du commerce et description du commerce
            soient remplis<br/> et que le commerçant ait au moins une image
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-warning">
        N'est pas membre
    </div>
{% endif %}