{% extends 'base.html.twig' %}

{% block title %}Edit CommercioCommercant{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ commercant.legalEntity }}</h3>

        <div class="card-body">
            {{ include('@CapCommercio/commercant/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
