{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Les {{ commercants|length }} membres de Cap</h3>

        <div class="card-body">

            {% include '@CapCommercio/commercant/_list.html.twig' %}

        </div>
    </div>

{% endblock %}
