{% extends '@CapCommercio/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ commercants|length }} Commerçants expirés</h3>

        <div class="card-body">
            <div class="alert alert-info">
                Commerçants dont la date d'affiliation date de plus d'un an ({{ today|date('d-m-Y') }})
                et dont "la case membre est cochée"
            </div>

            {% include '@CapCommercio/commercant/_list.html.twig' %}

        </div>
    </div>

{% endblock %}
