<div class="modal fade" id="imageDefaultModal" tabindex="-1" aria-labelledby="imageDefaultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageDefaultModalLabel">Image par défault ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Placer cette image par défaut ?
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ path('cap_gallery_img_default') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('defaultImage' ) }}">
                    <input type="hidden" id="imagedefaultid" name="imageid" value="0">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Annuler
                    </button>
                    <button type="submit" class="btn btn-success">Mettre par défaut l'image</button>
                </form>
            </div>
        </div>
    </div>
</div>
