{% extends '@CapCommercio/base_public.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header text-danger">Echec du paiment</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo">
            <h4 class="text-danger">Raison :</h4>
            <table class="table table-bordered">
                <tr>
                    <th>s</th>
                    <td> {{ s }}</td>
                </tr>
                <tr>
                    <th>eventId</th>
                    <td>{{ eventId }}</td>
                </tr>
            </table>

        </div>
    </div>

{% endblock %}
