{% extends '@CapCommercio/base_public.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header text-danger">Echec pour le paiment {{ orderCode }}</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/capMarcheLogo.png') }}" alt="logo">
            <h4 class="text-danger">Raison : {{ eventIdCodeEnum.reason }}</h4>

            <div class="alert alert-danger">
                {{ eventIdCodeEnum.explanation }}
            </div>

        </div>
    </div>

{% endblock %}
