{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header text-danger">Wallet</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo">

            <a href="https://demo.vivapayments.com/selfcare/en/sales/paynotifications">
                Voir les commandes sur vivapayments.com
            </a>
            <br/>
            <br/>
            <a href="{{ path('cap_wallet_new',{'id':920}) }}">
                Nouveau paiement
            </a>

        </div>
    </div>

{% endblock %}
