{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Wallet</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo">

            <br/>
            <br/>

            <a href="{{ url }}" target="_blank">
                Voir les bons de commandes sur vivapayments.com
            </a>
        </div>
    </div>

{% endblock %}
