{% extends '@CapCommercio/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">VivaPayments</h3>

        <div class="card-body">
            <a href="{{ url }}" target="_blank">
                Voir les bons d'ordres de paiement sur viva.com
            </a>

            <br/>
            <br/>

            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo" style="width: 250px;">

        </div>
    </div>

{% endblock %}
