{% extends '@CapCommercio/base_public.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header text-success">Order details</h3>

        <div class="card-body">
            <img src="{{ asset('bundles/capcommercio/logo_wallet-dark.svg') }}" alt="logo">

            {{ dump(order) }}

        </div>
    </div>
{% endblock %}
