<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
    {% if order.pdfPath %}
        <div class="col-auto">
            <a href="https://cap.marche.be/{{ order.pdfPath }}" class="btn btn-primary" role='button' target="_blank">
                <i class="fas fa-download"></i>
                Télécharger le pdf</a>
        </div>
    {% else %}
        <div class="col-auto">
            Pas de chemin pdf !
        </div>
    {% endif %}
    <div class="col-auto">
        <a href="{{ path('cap_commercant_show',{'id':order.commercantId}) }}" class="btn btn-primary" role='button'><i
                    class="fas fa-arrow-left"></i>
            Retour au magasin
        </a>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paidModal">
            <i class="fas fa-euro-sign"></i>
            Payer la commande
        </button>
    </div>
    <div class="col-auto">
        <a href="{{ path('cap_order_all') }}" class="btn btn-primary" role='button'><i
                    class="fas fa-list"></i>
            Retour à la Liste</a>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fas fa-trash"></i> Supprimer
        </button>
    </div>
</div>

