<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
    {% if order.pdfPath %}
        <div class="col-auto">
            <a href="/{{ order.pdfPath }}" class="btn btn-primary" role='button'>
                <i class="fas fa-download"></i>
                Télécharger le pdf</a>
        </div>
    {% endif %}
    <div class="col-auto"><a href="{{ path('cap_order_all') }}" class="btn btn-primary" role='button'><i
                    class="fas fa-list"></i>
            Retour à la Liste</a>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fas fa-trash"></i> Supprimer
        </button>
    </div>
</div>

