<!-- Modal candidat -->
<div class="modal fade" id="paidModal" tabindex="-1" role="dialog" aria-labelledby="paidModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paidModalLabel">Générer une facture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Le pdf sera généré
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ path('cap_order_paid', {'id': order.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('paid' ~ order.id) }}">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Annuler
                    </button>
                    <button type="submit" class="btn btn-primary">Générer la facture</button>
                </form>
            </div>
        </div>
    </div>
</div>
