<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
    <div class="col-auto">
        <a href="{{ path('cap_user_edit',{'id':user.id}) }}" class="btn btn-primary" role='button'>
            <i class="fas fa-edit"></i>
            Modifier
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ path('cap_user_password',{'id':user.id}) }}" class="btn btn-primary" role='button'>
            <i class="fas fa-lock"></i>
            Mot de passe
        </a>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fas fa-trash"></i> Supprimer
        </button>
    </div>
</div>

