<div class="row gy-2 gx-1 align-items-center d-print-none mb-3">
    <div class="col-auto">
        <a href="{{ path('cap_user_edit',{'id':user.id}) }}" class="btn btn-primary" role='button'>
            <i class="fas fa-edit"></i>
            Modifier
        </a>
    </div>
</div>

